<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= turbo_frame_tag "balloon-image", src: balloon_path do %>
  <p>Eager Loading...</p>
  <%= image_tag "loading.webp", height: '100' %>
<% end %>

<%= turbo_frame_tag "balloon-image", src: balloon_path, loading: 'lazy' do %>
  <p>Lazy Loading...</p>
  <%= image_tag "loading.webp", height: '100' %>
<% end %>

<p>
  <%= link_to "New post", new_post_path %>
</p>
